footer {
  width: 100%;
  background: #202020;
  color: white;
  /*padding:  0.5%;*/
  /*padding: 40px;*/
  padding-top: 2%;
}

.container-footer {
  width: 100%;
  background: #101010;
  /*padding: 40px;*/
  padding: 20px;
}
.footer {
  /*max-width: 1200px;*/
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.copyright {
  color: #c7c7c7;
}
.information a {
  text-decoration: none;
  color: #c7c7c7;
  font-weight: bold;
}

.footer-social{
  background: #202020;
  padding: 1%;
}
