.projects {
  /*background-color: white;*/
  /*margin-top: 5rem;*/
  /*padding-top: 5rem;*/
  /*margin-bottom: 15rem;*/
  /*padding-top: 10%;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/

  /*width: 100vh;*/
  overflow-y: hidden;
  height: 100vh;
  /*height: 100%;*/
}
.card-deck {
  /*padding-bottom: -100%;*/
  padding: 5%;
}

h2 {
  /*padding-top: 9rem;*/
  display: block;
  justify-content: left;
  padding-bottom: -45%;
}

/*.card-deck {*/
/*padding-top: 4rem;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/

@media screen and (max-width: 731px) {
  .projects {
    height: 100%;
  }
}
