.projects {
  /*background-color: white;*/
  /*margin-top: 5rem;*/
  /*padding-top: 5rem;*/
  /*margin-bottom: 15rem;*/
  /*padding-top: 10%;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/


  height: 100vh;
}

h2 {
  padding-top: 9rem;
  padding: 2.6rem;
}

/*.card-deck {*/
  /*padding-top: 4rem;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/
